.container {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #8f8d28;
}

h1 {
  margin: 30px;
 font-family: 'Pacifico', cursive;
  text-shadow: 5px 0 #1b2025;
  font-size: 6rem;
  color: #520909;
}

p {
  font-size: 2rem;
  color: #925e5e;
  font-family:ink-free;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
